<mat-toolbar color="info" >
    <mat-toolbar-row class="grid p-10" style="height: 100%;">
        <div class="col-6 grid">
            <div class="col-12 md:col-6 p-2 mt-5" style="max-width:300px; height:auto;">
                <span >
                    <svg viewBox="0 0 36 52" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><rect fill="#EC1D24" width="100%" height="100%"></rect><path fill="#FEFEFE" d="M31.5 48V4H21.291l-3.64 22.735L14.102 4H4v44h8V26.792L15.577 48h4.229l3.568-21.208V48z"></path></svg>
                </span>
            </div>
            <div class="col-12 md:col-6 grid">
                <div class="col-12 xl:col-6 m-0 flex flex-column justify-content-center">
                    <nav class="main-footer__primary-links " aria-label="Primary footer navigtion"><ul style="height: 100%;"><li class="main-footer__link"><a href="https://www.marvel.com/corporate/about">About Marvel</a></li><li class="main-footer__link"><a href="https://help.marvel.com">Help/FAQs</a></li><li class="main-footer__link"><a href="https://jobs.disneycareers.com/search-jobs?orgIds=391-1635-24091&amp;ascf=[{%22key%22:%22custom_fields%252EIndustryCustomField%22,%22value%22:%22Marvel%20Entertainment%22}]">Careers</a></li><li class="main-footer__link"><a href="https://www.marvel.com/corporate/interns">Internships</a></li></ul></nav>
                </div>
                <div class="col-12 xl:col-6 m-0 flex flex-column justify-content-center">
                    <nav class="main-footer__secondary-links " aria-label="Secondary footer navigtion"><ul style="height: 100%;"><li class="main-footer__link"><a href="https://www.marvel.com/corporate/advertising">Advertising</a></li><li class="main-footer__link"><a href="https://www.disneyplus.com/brand/marvel?cid=DTCI-Synergy-Marvel-Site-Acquisition-Library-US-Marvel-NA-EN-NavFooter-Marvel_DisneyPlus_NavFooter_Evergreen-NA">Disney+</a></li><li class="main-footer__link"><a href="https://www.marvelhq.com">Marvelhq.com</a></li><li class="main-footer__link"><a href="https://www.marvel.com/redeem">Redeem Digital Comics</a></li></ul></nav>
                </div>
            </div>
            
        </div>
        <div class="col-12 xl:col-3 grid">
            <div class="col-12 grid">
                <div class="main-footer__promotion">
                    <a class="col-12 grid main-footer__promotion-link" href="https://www.marvel.com/insider?cid=Dcom_navigation_20200929_insider_footer">
                    <div class="col-12 md:col-6 main-footer__promotion-image-wrapper">
                        <figure class="img__wrapper ">
                        <img src="https://cdn.marvel.com/content/1x/marvel_insider-topnav-logo-large2x.png" srcset="https://cdn.marvel.com/content/1x/marvel_insider-topnav-logo-large2x.png" alt="Marvel Insider Logo" class="main-footer__promotion-image">
                    </figure>
                </div>
                <div class="col-12 md:col-6 main-footer__promotion-info">
                            <h4 class="main-footer__promotion-title">Marvel Insider</h4>
                            <p class="main-footer__promotion-description">Get Rewarded for<br> Being a Marvel Fan</p>
                        </div>
                        </a>
                    </div>
            </div>
            <div class="col-12 grid ">
                <div class="main-footer__promotion">
                    <a class="col-12 grid main-footer__promotion-link" href="https://www.marvel.com/unlimited?cid=dcom_navigation_20220712_unlimited_footer"> 
                    <div class="col-12 md:col-6 main-footer__promotion-image-wrapper">
                        <figure class="img__wrapper ">
                        <img src="https://cdn.marvel.com/content/1x/mu-logo-w-nav-2x-2021-02.png" srcset="https://cdn.marvel.com/content/1x/mu-logo-w-nav-2x-2021-02.png" alt="Marvel Unlimited Logo" class="main-footer__promotion-image">
                    </figure>
                </div>
                    <div class="col-12 md:col-6 main-footer__promotion-info">
                            <h4 class="main-footer__promotion-title">Marvel Unlimited</h4>
                            <p class="main-footer__promotion-description">Access Over 30,000+ <br> Digital Comics</p>
                        </div>
                        </a>
                    </div>
            </div>
        </div>
        <div class="col-3"></div>
        <div class="col-12"></div>
    </mat-toolbar-row>
  </mat-toolbar>